## Sarvam AI Variables
SARVAM_API_KEY=sk_xxxxxxxxxxxxxxxxxxxzAkV1p

## Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=Wappnet@123
DATABASE_NAME=explore_sarvam

## Fastapi APP variables
DEPLOYMENT_PORT=8000
FASTAPI_APP_ROOT_PATH=/
DEPLOYMENT_ENV=dev